@namespace BlazorWebAssemblyPortfolio.Shared.Experience

<MudTimelineItem Size="Size.Medium">
    @*<ItemOpposite>
        <MudText>@Date</MudText>
    </ItemOpposite>*@
    <ItemContent>
        <MudPaper Elevation="0" Class="experience-card pr-4 mud-theme-primary">
            <div class="experience-heading-row">
                <MudText Typo="Typo.h6" GutterBottom="true">@Heading</MudText>
                @if (IsCurrentEmployment)
                {
                    <MudChip Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="current-employment-chip">Current</MudChip>
                }
            </div>
            <MudText Typo="Typo.subtitle1" GutterBottom="true">@Date</MudText>
            <MudText Typo="Typo.subtitle2" GutterBottom="true">@Subheading</MudText>
            <MudText Typo="Typo.body1">@((MarkupString)Body)</MudText>
            @foreach (var chip in Attributes)
            {
                <MudChip>
                    @chip
                </MudChip>
            }
        </MudPaper>
    </ItemContent>
</MudTimelineItem>

@code{
    [Parameter]
    public string Heading { get; set; } = "";

    [Parameter]
    public string Subheading { get; set; } = "";

    [Parameter]
    public string Body { get; set; } = "";

    [Parameter]
    public string Date { get; set; } = "";

    [Parameter]
    public List<string> Attributes { get; set; } = new();

    [Parameter]
    public bool IsCurrentEmployment { get; set; }
}
